.productList{
    display: inline-block;
    margin: 0px 30px;
}
.container{
    padding: 30px;
    background-color: bisque;
    margin: 35px 25px;
}
.buttonMoney{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
button[disabled]{
    cursor: not-allowed;
}

.buttonMoney:hover{
    background-color: #6bd16f;
}
.red{
    background-color: #f44336;
}
.red:hover{
    background-color: #ff574b;
}
#sellButton{
    cursor: not-allowed;
}